:root {
  font-family: 'karla';
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {

  margin: 0;
  margin-top: 150px;
  background-color: #0B2434;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px;
  background-color: #F5F5F5;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.title {
  margin-top: 20px;
  font-size: 28px;
  font-weight: 600;
}

.sub-title {
  margin-top: 10px;
  line-height: 15px;
  font-size: 17px;
  text-align: center;
}

.dice-container {
  margin-top: 20px;
  display: grid;
  justify-items: center;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;

}

.die {
  font-size: 23px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
}

.roll {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  background-color: #5035FF;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 3px 7px 0px #00000070;
  font-size: 16px;
  font-weight: 600;
  color: white;
}